# Bibliotecas principais do Flask e conexão MySQL
flask
python-dotenv
sqlalchemy
pymysql

# Dash e componentes de BI
dash
dash-bootstrap-components
plotly

# Manipulação de dados
pandas
openpyxl  # necessário para leitura de .xlsx
xlrd      # compatibilidade com planilhas antigas

# Agendamento (se desejar usar update automático com cron ou apscheduler)
apscheduler

# Logging
loguru

# Jupyter Notebook (ambiente interativo)
ipykernel
notebook
